body {
  background-color: #e2e4fe;
  font-family: "Walter Turncoat", cursive;
}

.navbar {
  background-color: #8993fa;
  color: #22253e;
  font-family: "Walter Turncoat", cursive;
}

a.navbar-brand {
  font-size: 2em;
  margin-left: 15px;
}

button.navbar-toggler {
  margin-right: 15px;
  margin-bottom: 5px;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
  text-align: center;
  transition: height 0s ease;
}

a.nav-link {
  background-color: rgba(226,228,254,.4);
  width: 100vw;
  margin: 5px auto 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #22253e;
  font-size: 1.2em;
}

a.nav-link:hover {
  background-color: rgba(226,228,254,.7);
}

a.nav-link:active {
  background-color: #b5bcfc;
}

#menu-content {
  background-color: rgba(187,103,110,.2);
  padding-top: 5px;
  margin: auto;
  min-height: 1000px;
}

#menu-content h2 {
  font-size: 1.2em;
}
#menu-content p {
  font-family: "Barlow";
}



/********** Desktop only **********/

/********** Tablet only **********/


/********** XS Mobile only **********/

